/* Index */

.redacted {
    text-decoration: line-through;
}

.big-man {
    font-family: cursive, sans-serif;
    color: grey;
    padding: 5px;
    border: 5px groove pink;
    /* width: 20%; */
    
}



/* replacing outdated html with css */

/* <center> */
/* align="CENTER" */
.cent {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

/* Align="left" */
.left {
    float: left;
}

/* align="ABSCENTER" */
.vert-cent {
    vertical-align: middle;
}

/* Font size="+1" */
.big-font {
    font-size: large;
}

/* Font size="+2" */
.bigger-font {
    font-size: xx-large;
}

/* Font size="-1" */
.sml-font {
    font-size: small;
}

/* font color="#CC6633" */
.peaches {
    color: #CC6633;
}

/* font color="#FF0000" */
.attention {
    color: #FF0000;
}

/* font color="#000066" */
.good-blue {
    color: #000066;
}